{
  "openapi": "3.1.0",
  "info": {
    "title": "Range read API",
    "version": "1.0.0",
    "description": "Read-only intelligence for tokenized-stock perpetuals on Bitget and trade.xyz: every reviewed pair priced in both directions against executable order-book depth, fees, slippage and funding, with the evidence behind every number. Range holds no keys and places no orders. Every response is an envelope with `status`, `as_of`, `freshness`, `result`, `evidence`, `warnings` and `trace_id`."
  },
  "servers": [
    {
      "url": "https://range.datatides.xyz",
      "description": "Public deployment. Read operations need no token: its proxy adds a read-only one, so any value or none works. Intent operations are refused."
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "A self-hosted gateway. Every call needs a bearer token with the operation's scope."
    }
  ],
  "tags": [
    {
      "name": "Opportunities",
      "description": "Pairs priced after every cost, the results that clear them, and the evidence behind each."
    },
    {
      "name": "Funding",
      "description": "What a position pays or collects, settlement by settlement."
    },
    {
      "name": "Markets",
      "description": "Instruments, live observations, and the cross-venue price and funding board."
    },
    {
      "name": "Venues",
      "description": "Connected venues and their live health."
    },
    {
      "name": "Streaming",
      "description": "Server-Sent Events for result and venue-health changes."
    },
    {
      "name": "Intents",
      "description": "Unsigned, expiring trade intents. Range never signs or submits an order."
    }
  ],
  "paths": {
    "/v1/venues": {
      "get": {
        "operationId": "listVenues",
        "tags": [
          "Venues"
        ],
        "summary": "List venues and their health",
        "description": "Every connected venue with its capabilities, freshness budget and live health: connection state, age of its last event, clock skew, sequence integrity and rate-limit state. A degraded, stale or missing venue is excluded from actionable results.",
        "security": [
          {
            "rangeToken": []
          }
        ],
        "x-required-scopes": [
          "market:read"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 900
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source-aligned Range response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "maxItems": 100,
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "venue": {
                                "type": "string",
                                "enum": [
                                  "bitget",
                                  "ondo_stocks",
                                  "ondo_perps",
                                  "hyperliquid_hip3",
                                  "bybit",
                                  "qfex",
                                  "lighter",
                                  "extended",
                                  "aster",
                                  "variational",
                                  "pacifica",
                                  "nado",
                                  "binance"
                                ]
                              },
                              "capabilities": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "freshnessBudgetMs": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              },
                              "health": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "venue": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "connectionState": {
                                        "type": "string",
                                        "enum": [
                                          "connected",
                                          "connecting",
                                          "reconnecting",
                                          "disconnected",
                                          "degraded",
                                          "quarantined"
                                        ]
                                      },
                                      "lastEventAgeMs": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9007199254740991
                                      },
                                      "clockSkewMs": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9007199254740991
                                      },
                                      "sequenceIntegrity": {
                                        "type": "string",
                                        "enum": [
                                          "consistent",
                                          "gap",
                                          "unknown"
                                        ]
                                      },
                                      "rateLimit": {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "healthy",
                                              "limited",
                                              "backing_off",
                                              "unknown"
                                            ]
                                          },
                                          "retryAfterMs": {
                                            "type": "integer",
                                            "exclusiveMinimum": 0,
                                            "maximum": 9007199254740991
                                          }
                                        },
                                        "required": [
                                          "state"
                                        ],
                                        "additionalProperties": false
                                      },
                                      "capabilityChanges": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "capability": {
                                              "type": "string",
                                              "minLength": 1
                                            },
                                            "change": {
                                              "type": "string",
                                              "enum": [
                                                "added",
                                                "removed"
                                              ]
                                            },
                                            "observedAt": {
                                              "type": "string",
                                              "format": "date-time",
                                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                                            }
                                          },
                                          "required": [
                                            "capability",
                                            "change",
                                            "observedAt"
                                          ],
                                          "additionalProperties": false
                                        }
                                      },
                                      "errorCounters": {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {
                                          "type": "integer",
                                          "minimum": 0,
                                          "maximum": 9007199254740991
                                        }
                                      },
                                      "quarantineReason": {
                                        "type": "string",
                                        "enum": [
                                          "STALE_INPUT",
                                          "UNSYNCHRONIZED_INPUTS",
                                          "BOOK_SEQUENCE_GAP",
                                          "UNKNOWN_INSTRUMENT_EQUIVALENCE",
                                          "INSUFFICIENT_DEPTH",
                                          "NET_EDGE_BELOW_THRESHOLD",
                                          "FUNDING_SEMANTICS_UNKNOWN",
                                          "VENUE_DEGRADED",
                                          "CLOCK_SKEW_EXCEEDED",
                                          "CAPABILITY_WITHDRAWN",
                                          "COST_DATA_MISSING"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "venue",
                                      "connectionState",
                                      "lastEventAgeMs",
                                      "clockSkewMs",
                                      "sequenceIntegrity",
                                      "rateLimit",
                                      "capabilityChanges",
                                      "errorCounters"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "asOfMs": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "venue",
                              "capabilities",
                              "freshnessBudgetMs",
                              "health",
                              "asOfMs"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "next_offset": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "items",
                        "next_offset"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/instruments": {
      "get": {
        "operationId": "findInstruments",
        "tags": [
          "Markets"
        ],
        "summary": "Find instruments and their mappings",
        "description": "Canonical instruments by underlying (for example `equity:NVDA`) or venue, with their venue symbols and the reviewed mappings that join one stock across venues.",
        "security": [
          {
            "rangeToken": []
          }
        ],
        "x-required-scopes": [
          "market:read"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 900
            }
          },
          {
            "name": "underlying",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "pattern": "^[A-Za-z][A-Za-z0-9_-]*:[A-Za-z0-9_.-]+$"
            }
          },
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bitget",
                "ondo_stocks",
                "ondo_perps",
                "hyperliquid_hip3",
                "bybit",
                "qfex",
                "lighter",
                "extended",
                "aster",
                "variational",
                "pacifica",
                "nado",
                "binance"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source-aligned Range response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "maxItems": 100,
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "instrumentId": {
                                    "type": "string",
                                    "pattern": "^ins_[A-Za-z0-9_.:-]+$"
                                  },
                                  "underlyingId": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "venue": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "venueFamily": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "venueSymbol": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "quoteAsset": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "settlementAsset": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "collateralAsset": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "contractMultiplier": {
                                    "type": "string",
                                    "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                  },
                                  "tickSize": {
                                    "type": "string",
                                    "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                  },
                                  "lotSize": {
                                    "type": "string",
                                    "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                  },
                                  "minimumNotional": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9]\\d*)(?:\\.\\d+)?$"
                                  },
                                  "tradingSchedule": {
                                    "type": "object",
                                    "properties": {
                                      "timezone": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "sessions": {
                                        "minItems": 1,
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "daysOfWeek": {
                                              "minItems": 1,
                                              "type": "array",
                                              "items": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "maximum": 7
                                              }
                                            },
                                            "opensAt": {
                                              "type": "string",
                                              "pattern": "^(?:[01]\\d|2[0-3]):[0-5]\\d$"
                                            },
                                            "closesAt": {
                                              "type": "string",
                                              "pattern": "^(?:[01]\\d|2[0-3]):[0-5]\\d$"
                                            }
                                          },
                                          "required": [
                                            "daysOfWeek",
                                            "opensAt",
                                            "closesAt"
                                          ],
                                          "additionalProperties": false
                                        }
                                      }
                                    },
                                    "required": [
                                      "timezone",
                                      "sessions"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "capabilities": {
                                    "minItems": 1,
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  },
                                  "metadataVersion": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "effectiveFrom": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                                  },
                                  "productType": {
                                    "type": "string",
                                    "const": "tokenized_spot"
                                  },
                                  "fundingInterval": {
                                    "not": {}
                                  }
                                },
                                "required": [
                                  "instrumentId",
                                  "underlyingId",
                                  "venue",
                                  "venueSymbol",
                                  "quoteAsset",
                                  "settlementAsset",
                                  "collateralAsset",
                                  "contractMultiplier",
                                  "tickSize",
                                  "lotSize",
                                  "minimumNotional",
                                  "tradingSchedule",
                                  "capabilities",
                                  "metadataVersion",
                                  "effectiveFrom",
                                  "productType"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "instrumentId": {
                                    "type": "string",
                                    "pattern": "^ins_[A-Za-z0-9_.:-]+$"
                                  },
                                  "underlyingId": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "venue": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "venueFamily": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "venueSymbol": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "quoteAsset": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "settlementAsset": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "collateralAsset": {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  "contractMultiplier": {
                                    "type": "string",
                                    "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                  },
                                  "tickSize": {
                                    "type": "string",
                                    "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                  },
                                  "lotSize": {
                                    "type": "string",
                                    "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                  },
                                  "minimumNotional": {
                                    "type": "string",
                                    "pattern": "^(?:0|[1-9]\\d*)(?:\\.\\d+)?$"
                                  },
                                  "tradingSchedule": {
                                    "type": "object",
                                    "properties": {
                                      "timezone": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "sessions": {
                                        "minItems": 1,
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "daysOfWeek": {
                                              "minItems": 1,
                                              "type": "array",
                                              "items": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "maximum": 7
                                              }
                                            },
                                            "opensAt": {
                                              "type": "string",
                                              "pattern": "^(?:[01]\\d|2[0-3]):[0-5]\\d$"
                                            },
                                            "closesAt": {
                                              "type": "string",
                                              "pattern": "^(?:[01]\\d|2[0-3]):[0-5]\\d$"
                                            }
                                          },
                                          "required": [
                                            "daysOfWeek",
                                            "opensAt",
                                            "closesAt"
                                          ],
                                          "additionalProperties": false
                                        }
                                      }
                                    },
                                    "required": [
                                      "timezone",
                                      "sessions"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "capabilities": {
                                    "minItems": 1,
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  },
                                  "metadataVersion": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "effectiveFrom": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                                  },
                                  "productType": {
                                    "type": "string",
                                    "const": "perpetual"
                                  },
                                  "fundingInterval": {
                                    "type": "integer",
                                    "exclusiveMinimum": 0,
                                    "maximum": 9007199254740991
                                  }
                                },
                                "required": [
                                  "instrumentId",
                                  "underlyingId",
                                  "venue",
                                  "venueSymbol",
                                  "quoteAsset",
                                  "settlementAsset",
                                  "collateralAsset",
                                  "contractMultiplier",
                                  "tickSize",
                                  "lotSize",
                                  "minimumNotional",
                                  "tradingSchedule",
                                  "capabilities",
                                  "metadataVersion",
                                  "effectiveFrom",
                                  "productType",
                                  "fundingInterval"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          }
                        },
                        "next_offset": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "items",
                        "next_offset"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets/snapshot": {
      "get": {
        "operationId": "getMarketSnapshot",
        "tags": [
          "Markets"
        ],
        "summary": "Live books and funding for one stock",
        "description": "The latest order-book and funding observations Range holds for an underlying, each with its source time, receive time and freshness budget. Filter by venue.",
        "security": [
          {
            "rangeToken": []
          }
        ],
        "x-required-scopes": [
          "market:read"
        ],
        "parameters": [
          {
            "name": "underlying",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "pattern": "^[A-Za-z][A-Za-z0-9_-]*:[A-Za-z0-9_.-]+$"
            }
          },
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bitget",
                "ondo_stocks",
                "ondo_perps",
                "hyperliquid_hip3",
                "bybit",
                "qfex",
                "lighter",
                "extended",
                "aster",
                "variational",
                "pacifica",
                "nado",
                "binance"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source-aligned Range response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "partial",
                        "rejected"
                      ]
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                    },
                    "freshness": {
                      "type": "object",
                      "properties": {
                        "oldest_input_ms": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "oldest_input_ms"
                      ],
                      "additionalProperties": false
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "underlying": {
                          "type": "string"
                        },
                        "observations": {
                          "maxItems": 1000,
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "eventId": {
                                "type": "string",
                                "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                              },
                              "schemaVersion": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              },
                              "venue": {
                                "type": "string",
                                "minLength": 1
                              },
                              "instrumentId": {
                                "type": "string",
                                "pattern": "^ins_[A-Za-z0-9_.:-]+$"
                              },
                              "sequence": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "minLength": 1
                                  },
                                  {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  }
                                ]
                              },
                              "sequencePolicy": {
                                "type": "string",
                                "const": "contiguous"
                              },
                              "sequenceReset": {
                                "type": "boolean",
                                "const": true
                              },
                              "transport": {
                                "type": "string",
                                "enum": [
                                  "websocket",
                                  "rest",
                                  "replay"
                                ]
                              },
                              "freshnessBudgetMs": {
                                "type": "integer",
                                "exclusiveMinimum": 0,
                                "maximum": 9007199254740991
                              },
                              "qualityFlags": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "eligibility": {
                                "type": "string",
                                "enum": [
                                  "live",
                                  "delayed",
                                  "stale",
                                  "reference_only"
                                ]
                              },
                              "payload": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "kind": {
                                        "type": "string",
                                        "const": "order_book"
                                      },
                                      "bids": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "price": {
                                              "type": "string",
                                              "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                            },
                                            "quantity": {
                                              "type": "string",
                                              "pattern": "^(?:0|[1-9]\\d*)(?:\\.\\d+)?$"
                                            }
                                          },
                                          "required": [
                                            "price",
                                            "quantity"
                                          ],
                                          "additionalProperties": false
                                        }
                                      },
                                      "asks": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "price": {
                                              "type": "string",
                                              "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                            },
                                            "quantity": {
                                              "type": "string",
                                              "pattern": "^(?:0|[1-9]\\d*)(?:\\.\\d+)?$"
                                            }
                                          },
                                          "required": [
                                            "price",
                                            "quantity"
                                          ],
                                          "additionalProperties": false
                                        }
                                      },
                                      "capacityUsd": {
                                        "type": "string",
                                        "pattern": "^(?:0|[1-9]\\d*)(?:\\.\\d+)?$"
                                      }
                                    },
                                    "required": [
                                      "kind",
                                      "bids",
                                      "asks",
                                      "capacityUsd"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "kind": {
                                        "type": "string",
                                        "const": "funding"
                                      },
                                      "rateType": {
                                        "type": "string",
                                        "enum": [
                                          "current",
                                          "predicted",
                                          "realized"
                                        ]
                                      },
                                      "rate": {
                                        "type": "string",
                                        "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$"
                                      },
                                      "positiveRatePayer": {
                                        "type": "string",
                                        "enum": [
                                          "long",
                                          "short"
                                        ]
                                      },
                                      "intervalMs": {
                                        "type": "integer",
                                        "exclusiveMinimum": 0,
                                        "maximum": 9007199254740991
                                      },
                                      "nextSettlementMs": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9007199254740991
                                      },
                                      "takerFeeBps": {
                                        "type": "string",
                                        "pattern": "^(?:0|[1-9]\\d*)(?:\\.\\d+)?$"
                                      }
                                    },
                                    "required": [
                                      "kind",
                                      "rateType",
                                      "rate",
                                      "intervalMs",
                                      "nextSettlementMs"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "kind": {
                                        "type": "string",
                                        "const": "index_price"
                                      },
                                      "price": {
                                        "type": "string",
                                        "pattern": "^(?:0\\.(?:0*[1-9]\\d*)|[1-9]\\d*(?:\\.\\d+)?)$"
                                      }
                                    },
                                    "required": [
                                      "kind",
                                      "price"
                                    ],
                                    "additionalProperties": false
                                  }
                                ]
                              },
                              "sourceTimestamp": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              "receivedTimestamp": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              }
                            },
                            "required": [
                              "eventId",
                              "schemaVersion",
                              "venue",
                              "instrumentId",
                              "transport",
                              "freshnessBudgetMs",
                              "qualityFlags",
                              "eligibility",
                              "payload",
                              "sourceTimestamp",
                              "receivedTimestamp"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "underlying",
                        "observations"
                      ],
                      "additionalProperties": false
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_id": {
                            "type": "string",
                            "pattern": "^evt_[A-Za-z0-9_.:-]+$"
                          }
                        },
                        "required": [
                          "event_id"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trace_id": {
                      "type": "string",
                      "pattern": "^rng_trace_[A-Za-z0-9-]+$"
                    }
                  },
                  "required": [
                    "status",
                    "as_of",
                    "freshness",
                    "result",
                    "evidence",
                    "warnings",
                    "trace_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Rejected request; no current result is implied",
            "content": {
              "application/json": {
[...]
